@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../fonts/ProximaNova/ProximaNova-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.input {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  width: 100%;
  border: 1px solid #e8e8e8;
}

.button {
  text-transform: uppercase;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  background: none;
  border: 1px solid #e8e8e8;
}

.button:hover {
  cursor: pointer;
}

.button:active {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8);
          box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8);
}

.button:focus {
  outline: none;
}

.header {
  background-color: #e8e8e8;
  padding-top: 12px;
  padding-bottom: 10px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 792px;
}

.header__menu-item {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  color: #000000;
  position: relative;
  z-index: 0;
}

.header__menu-item:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #adadad;
  position: absolute;
  bottom: -1px;
  z-index: -1;
}

.header__menu-item:hover:after {
  height: 4px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header__contacts {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}

.header__phone {
  display: inline-block;
  text-decoration: none;
  color: #000000;
  font-size: 17px;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-weight: bold;
  margin-bottom: 2px;
}

.header__callback {
  color: #22bac1;
  font-family: 'Proxima Nova Regular', sans-serif;
  font-weight: normal;
}

.header__callback:hover:after {
  height: 1px;
  -webkit-transition: 0;
  transition: 0;
}

.header-mobile {
  display: none;
  padding-top: 12px;
  padding-bottom: 10px;
  z-index: 2;
}

.header-mobile__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-mobile__btn-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  z-index: 2;
}

.header-mobile__btn-menu p {
  margin-top: 1px;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 0;
}

.header-mobile__btn-menu p:hover {
  cursor: default;
}

.header-mobile__btn-menu div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 17px;
  height: 14px;
  margin-right: 17px;
}

.header-mobile__btn-menu div span, .header-mobile__btn-menu div span:before, .header-mobile__btn-menu div span:after {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}

.header-mobile__btn-menu div span:before, .header-mobile__btn-menu div span:after {
  content: '';
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header-mobile__btn-menu div span:before {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

.header-mobile__btn-menu div span:after {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.header-mobile__btn-menu_active {
  color: #000000;
}

.header-mobile__btn-menu_active div span {
  height: 0;
}

.header-mobile__btn-menu_active div span:before {
  background-color: #000000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header-mobile__btn-menu_active div span:after {
  background-color: #000000;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header-mobile__contacts {
  z-index: 0;
}

.header-mobile__contacts .header__phone {
  color: #ffffff;
}

.header-mobile__contacts .header__callback {
  opacity: 1;
  color: #22bac1;
}

.header-mobile__contacts .header__callback:after {
  background-color: #22bac1;
  opacity: 0.4;
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 115px;
  padding-bottom: 77px;
}

.main__title-block {
  color: #ffffff;
  display: inline-block;
}

.main__title {
  font-size: 48px;
  line-height: 1.25;
  max-width: 510px;
  margin-bottom: 30px;
}

.main__subtitle {
  font-size: 20px;
  margin-bottom: 63px;
}

.main__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__item-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  margin-right: 25px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.main__item-icon p {
  font-size: 16px;
  margin: 0;
}

.main__item-text {
  font-size: 15px;
  line-height: normal;
  text-align: left;
}

.main__request {
  margin-top: 10px;
  display: inline-block;
  width: 234px;
  height: 360px;
  background-color: #ffffff;
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 39px;
  padding-right: 39px;
}

.main__request-container {
  max-width: 260px;
  margin: 0 auto;
}

.main__request-title {
  font-size: 18px;
  text-align: center;
  line-height: normal;
  margin-bottom: 28px;
}

.main__request-title span {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-weight: bold;
}

.main__form-input {
  height: 50px;
  margin-bottom: 15px;
}

.main__button {
  margin-top: 5px;
  color: #ffffff;
  background-color: #23bac1;
  border: none;
}

.main__button:hover {
  background-color: #27cfd7;
}

.var-maquette {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 40px;
}

.var-maquette__section-title {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  margin-bottom: 70px;
}

.var-maquette__section-title:after {
  content: '';
  position: absolute;
  display: block;
  background-color: #23bac1;
  width: 30px;
  height: 2px;
  bottom: -25px;
  left: 50%;
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
}

.var-maquette__subtitle {
  font-size: 20px;
  margin-bottom: 80px;
}

.var-maquette__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.var-maquette__item {
  width: 370px;
  height: 650px;
  position: relative;
  padding-top: 30px;
  margin-bottom: 30px;
}

.var-maquette__item:hover {
  -webkit-box-shadow: 0px 5px 36px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 36px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.var-maquette__item:hover .var-maquette__img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.var-maquette__item:hover .var-maquette__button {
  color: #ffffff;
  background-color: #23bac1;
  border: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.var-maquette__item:hover .var-maquette__button:hover {
  -webkit-transition: none;
  transition: none;
  cursor: pointer;
  background-color: #2fd2d9;
}

.var-maquette__button {
  width: 230px;
  height: 55px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-115px);
          transform: translateX(-115px);
  bottom: 40px;
}

.var-maquette__item-title {
  font-size: 20px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  font-weight: 700;
  margin-bottom: 24px;
}

.var-maquette__img {
  margin-bottom: 32px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: 0.8;
}

.var-maquette__text p {
  font-size: 16px;
  max-width: 236px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.3;
}

.var-maquette__text-point {
  margin-bottom: 14px;
  position: relative;
}

.var-maquette__text-point:after {
  content: '';
  position: absolute;
  display: block;
  background-color: #23bac1;
  width: 10px;
  height: 2px;
  bottom: -7px;
  left: 50%;
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

.real-projects {
  background-color: #e8e8e8;
  padding-top: 96px;
  padding-bottom: 100px;
}

.real-projects__section-title {
  text-align: center;
  margin: 0 auto 70px;
  position: relative;
}

.real-projects__section-title:after {
  content: '';
  position: absolute;
  display: block;
  background-color: #23bac1;
  width: 30px;
  height: 2px;
  bottom: -25px;
  left: 50%;
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
}

.real-projects__subtitle {
  margin: 0 auto 99px;
  text-align: center;
}

.real-projects__slider {
  position: relative;
  display: block;
  margin: 0 auto;
  max-width: 900px;
}

.real-projects__slider-item {
  outline: none;
  margin: 0 2px;
  position: relative;
}

.real-projects__slider-item img {
  float: left;
  width: 410px;
  height: 340px;
  margin-right: 80px;
}

.real-projects__slider-title {
  font-size: 24px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  font-weight: 700;
  margin-bottom: 53px;
}

.real-projects__slider-descr span {
  font-size: 12px;
  color: #7f7f7f;
}

.real-projects__slider-descr p {
  margin-top: 18px;
  font-size: 16px;
}

.real-projects__slider-descrBlock > .real-projects__slider-descr:nth-child(2) {
  margin-bottom: 60px;
}

.real-projects__slider-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 600px;
}

.real-projects__slider-button {
  position: absolute;
  bottom: 0;
  left: 490px;
  color: #ffffff;
  background-color: #23bac1;
  border: none;
  width: 216px;
  height: 60px;
}

.real-projects__slider-button:hover {
  background-color: #27cfd7;
}

.arrow {
  content: '';
  display: block;
  width: 14px;
  height: 26px;
  position: absolute;
  z-index: 1;
}

.arrow:hover {
  cursor: pointer;
}

.arrow-right {
  right: -120px;
  bottom: 50%;
  -webkit-transform: translateY(13px);
          transform: translateY(13px);
  background-image: url("../img/real-projects/arrow-right.png");
  background-size: 100%;
}

.arrow-left {
  left: -120px;
  top: 50%;
  -webkit-transform: translateY(-13px);
          transform: translateY(-13px);
  background-image: url("../img/real-projects/arrow-left.png");
  background-size: 100%;
}

.achivments {
  color: #ffffff;
  background-image: url("../img/achivments/achivments-bg-img.jpg");
  background-size: cover;
  background-color: #000000;
  padding-top: 108px;
  padding-bottom: 36px;
}

.achivments__section-title {
  margin: 0 auto 100px;
  text-align: center;
  font-size: 24px;
  line-height: 1.29;
  max-width: 675px;
}

.achivments__table {
  margin: 0 auto;
  max-width: 1075px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.achivments__item {
  width: 245px;
  display: inline-block;
  text-align: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 0 5px 90px;
}

.achivments__item:last-child {
  margin-bottom: 0;
}

.achivments__item-icon {
  margin: 0 auto 40px;
  width: 56px;
  height: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.achivments__item-text {
  font-size: 15px;
  line-height: 1.33;
}

.our-clients {
  padding-top: 100px;
  padding-bottom: 178px;
}

.our-clients__section-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 100px;
}

.our-clients__logos {
  max-width: 940px;
  margin: 0 auto;
}

.our-clients__logos-wrap {
  outline: none;
  text-align: center;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: 0.8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.our-clients__logos-wrap:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  opacity: 1;
}

.our-clients__logos-flex {
  height: 84px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slick-dots li {
  display: none;
}

.footer {
  background-color: #000000;
  padding-top: 50px;
  padding-bottom: 58px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__geopoint {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__geopoint img {
  margin-right: 19px;
}

.footer__geopoint p {
  font-size: 13px;
  line-height: normal;
}

.modal-callback {
  display: none;
}

.modal-callback_visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-callback__dialog {
  position: relative;
  background-color: #ffffff;
  display: block;
  padding: 30px 39px 36px;
  border-radius: 10px;
}

.modal-callback__title {
  font-size: 28px;
  line-height: normal;
  text-align: center;
  margin-bottom: 38px;
}

.modal-callback__btn {
  margin-top: 20px;
  color: #ffffff;
  background-color: #23bac1;
}

.modal-callback__btn:hover {
  background-color: #27cfd7;
}

.modal-callback__close {
  top: 10px;
  right: 10px;
}

.order-maq {
  display: none;
}

.order-maq_visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.order-maq__dialog {
  position: relative;
  background-color: #ffffff;
  display: block;
  padding: 34px 40px 39px;
  width: 234px;
}

.order-maq__title {
  font-size: 28px;
  text-align: center;
  margin-bottom: 36px;
}

.order-maq__button {
  margin-top: 20px;
  color: #ffffff;
  background-color: #23bac1;
}

.order-maq__button:hover {
  background-color: #27cfd7;
}

.modal-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.modal-menu__dialog {
  margin-top: 5px;
  position: relative;
  display: block;
  background-color: #e8e8e8;
  width: 300px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.modal-menu__title {
  font-size: 24px;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-weight: bold;
  margin: 0 50px 30px;
}

.modal-menu__wrap {
  display: inline-block;
  margin: 0 50px;
}

.modal-menu__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.modal-menu__menu .header__menu-item {
  margin-bottom: 30px;
}

.modal-menu__close {
  top: 20px;
  right: 20px;
}

body {
  font-family: 'Proxima Nova Regular', sans-serif;
  font-size: 14px;
}

.bg-image {
  background-image: url("../img/main-scr/main-screen-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
}

.container {
  width: 1170px;
  margin: auto;
}

.section-title {
  font-size: 36px;
}

.section-subtitle {
  font-size: 20px;
}

.map iframe {
  width: 100%;
  height: 416px;
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.52);
  left: 0;
  top: 0;
  z-index: 3;
}

.modal__close {
  position: absolute;
}

.modal__close img {
  width: 16px;
  height: auto;
}

.modal__close:hover {
  cursor: pointer;
}

@media (max-width: 1250px) {
  .container {
    max-width: 90%;
  }
  .real-projects__slider-item img {
    margin-right: 60px;
  }
  .real-projects__slider-button {
    left: 470px;
  }
  .arrow-right {
    right: -60px;
  }
  .arrow-left {
    left: -60px;
  }
}

@media (max-width: 1200px) {
  .var-maquette__table {
    max-width: 800px;
    margin: auto;
  }
}

@media (max-width: 1100px) {
  .header__menu {
    width: 690px;
  }
}

@media (max-width: 1080px) {
  .real-projects__slider-item {
    margin-left: 50px;
    margin-right: 50px;
  }
  .real-projects__slider-item img {
    width: 310px;
    height: 240px;
    margin-right: 40px;
  }
  .real-projects__slider-title {
    margin-bottom: 20px;
  }
  .real-projects__slider-descr p {
    margin-top: 10px;
  }
  .real-projects__slider-descrBlock > .real-projects__slider-descr:nth-child(2) {
    margin-bottom: 20px;
  }
  .real-projects__slider-data {
    max-width: 400px;
  }
  .real-projects__slider-button {
    left: 350px;
  }
  .arrow-right {
    right: -20px;
  }
  .arrow-left {
    left: -20px;
  }
  .our-clients {
    padding-top: 60px;
    padding-bottom: 100px;
  }
  .our-clients__section-title {
    margin-bottom: 60px;
  }
}

@media (max-width: 992px) {
  .header {
    display: none;
  }
  .header__menu-item:hover {
    cursor: default;
  }
  .header__menu-item:hover:after {
    height: 1px;
    -webkit-transition: 0;
    transition: 0;
  }
  .header-mobile {
    display: block;
  }
  .button {
    color: #ffffff;
    background-color: #23bac1;
    border: none;
  }
  .button:hover {
    background-color: #23bac1;
    cursor: default;
    -webkit-transition: 0;
    transition: 0;
  }
  .main__container {
    padding-top: 70px;
  }
  .main__title {
    font-size: 36px;
    max-width: 400px;
  }
  .main__item-text {
    width: 240px;
  }
  .var-maquette {
    padding-top: 50px;
    padding-bottom: 0;
  }
  .var-maquette__section-title {
    margin-bottom: 50px;
  }
  .var-maquette__subtitle {
    margin-bottom: 40px;
  }
  .var-maquette__img {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    opacity: 1;
    -webkit-transition: 0;
    transition: 0;
  }
  .var-maquette__item:hover {
    -webkit-box-shadow: 0px 0px 0px 0 black;
            box-shadow: 0px 0px 0px 0 black;
    -webkit-transition: 0;
    transition: 0;
  }
  .var-maquette__item:hover .var-maquette__button:hover {
    background-color: #23bac1;
    cursor: default;
    -webkit-transition: 0;
    transition: 0;
  }
  .real-projects {
    padding-top: 50px;
    padding-bottom: 150px;
  }
  .real-projects__section-title {
    margin: 0 auto 40px;
  }
  .real-projects__section-title:after {
    bottom: -18px;
  }
  .real-projects__subtitle {
    margin: 0 auto 50px;
  }
  .real-projects__slider-title {
    text-align: center;
  }
  .real-projects__slider-item img {
    float: none;
    margin: 0 auto 40px;
  }
  .real-projects__slider-descrBlock > .real-projects__slider-descr:nth-child(2) {
    margin: 0 auto 30px;
    max-width: 310px;
  }
  .real-projects__slider-button {
    left: 50%;
    -webkit-transform: translateX(-108px);
            transform: translateX(-108px);
  }
  .real-projects__slider-data {
    margin: 0 auto 100px;
    max-width: 310px;
  }
  .arrow:hover {
    cursor: default;
  }
  .arrow-right {
    bottom: 0;
    -webkit-transform: translateY(76px);
            transform: translateY(76px);
    right: 40%;
  }
  .arrow-left {
    top: 100%;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    left: 40%;
  }
  .achivments {
    padding-top: 70px;
  }
  .achivments__section-title {
    margin-bottom: 60px;
  }
  .achivments__item {
    margin-bottom: 60px;
  }
  .achivments__item-icon {
    margin-bottom: 25px;
  }
  .our-clients {
    padding-top: 60px;
    padding-bottom: 140px;
  }
  .our-clients__section-title {
    margin-bottom: 60px;
  }
  .our-clients__logos-wrap {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    opacity: 1;
    -webkit-transition: 0;
    transition: 0;
  }
}

@media (max-width: 860px) {
  .achivments__table {
    margin: 0 auto;
    max-width: 600px;
  }
}

@media (max-width: 842px) {
  .var-maquette__table {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .var-maquette__item:last-child {
    height: 540px;
  }
}

@media (max-width: 791px) {
  .main {
    margin-bottom: 40px;
  }
  .main__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 50px;
    padding-bottom: 70px;
  }
  .main__title-block {
    margin-bottom: 30px;
  }
  .main__title, .main__subtitle {
    text-align: center;
  }
  .main__subtitle {
    margin-bottom: 40px;
  }
  .main__item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .var-maquette {
    padding-top: 0;
  }
}

@media (max-width: 600px) {
  .real-projects {
    padding-top: 40px;
    padding-bottom: 100px;
  }
  .arrow-right {
    -webkit-transform: translateY(56px);
            transform: translateY(56px);
  }
  .arrow-left {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  .achivments {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .achivments__section-title {
    font-size: 18px;
  }
  .achivments__table {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .achivments__item {
    margin-bottom: 50px;
  }
}

@media (max-width: 480px) {
  .main__container {
    padding-bottom: 0px;
  }
  .main__title-block {
    margin-bottom: 25px;
  }
  .main__title {
    font-size: 28px;
  }
  .main__subtitle {
    font-size: 19px;
  }
  .main__item-text {
    font-size: 14px;
  }
  .main__request {
    margin-top: 12px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin-bottom: 50px;
  }
  .var-maquette__item {
    width: 300px;
  }
  .var-maquette__img {
    width: 290px;
  }
  .real-projects__slider-item {
    margin-left: 0;
    margin-right: 0;
  }
  .real-projects__slider-descr {
    text-align: center;
  }
  .real-projects__slider-data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .real-projects__slider-data > .real-projects__slider-descr {
    margin-bottom: 30px;
  }
  .real-projects__slider-data {
    margin: 0 auto 70px;
  }
  .our-clients {
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .our-clients__section-title {
    margin-bottom: 30px;
  }
  .modal__callback {
    width: 222px;
  }
  .modal__callback-title {
    font-size: 20px;
  }
  .footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer__contacts {
    text-align: center;
    margin-bottom: 30px;
  }
}
/*# sourceMappingURL=style.css.map */