.main
  &__container
    display: flex
    justify-content: space-between
    padding:
      top: 115px
      bottom: 77px

  &__title-block
    color: #ffffff
    display: inline-block
  &__title
    font-size: 48px
    line-height: 1.25
    max-width: 510px
    margin-bottom: 30px
  &__subtitle
    font-size: 20px
    margin-bottom: 63px
    // display: inline-block

  &__item
    display: flex
    margin-bottom: 21px
    align-items: center
  &__item-icon
    display: flex
    justify-content: center
    align-items: center
    width: 35px
    height: 35px
    margin-right: 25px
    border: 1px solid rgba(255, 255, 255, 0.2)
    border-radius: 50%
    p
      font-size: 16px
      margin: 0
  &__item-text
    font-size: 15px
    line-height: normal
    text-align: left
    
  &__request
    margin-top: 10px
    display: inline-block
    width: 234px
    height: 360px
    background-color: #ffffff
    padding:
      top: 26px
      bottom: 26px
      left: 39px
      right: 39px
    &-container
      max-width: 260px
      margin: 0 auto
    &-title
      font-size: 18px
      text-align: center
      line-height: normal
      margin-bottom: 28px
      span
        +bold
  &__form-input
    height: 50px
    margin-bottom: 15px
  &__button
    margin-top: 5px
    color: #ffffff
    background-color: $button-color
    border: none
    &:hover 
      background-color: lighten($button-color, 5%)
    


