@media (max-width: 1250px)
  .container
    max-width: 90%
  .real-projects
    &__slider
      &-item img
        margin-right: 60px
      &-button
        left: 470px
  .arrow
    &-right
      right: -60px
    &-left
      left: -60px


@media (max-width: 1200px)
  .var-maquette
    &__table
      max-width: 800px
      margin: auto


@media (max-width: 1100px)
  .header
    &__menu
      width: 690px


@media (max-width: 1080px)
  .real-projects
    &__slider
      &-item
        margin:
          left: 50px
          right: 50px
        img
          width: 310px
          height: 240px
          margin-right: 40px
      &-title
        margin-bottom: 20px
      &-descr
        p
          margin-top: 10px
      &-descrBlock > &-descr:nth-child(2)
        margin-bottom: 20px
      &-data
        max-width: 400px
      &-button
        left: 350px
  .arrow
    &-right
      right: -20px
    &-left
      left: -20px


@media (max-width: 992px)
  .header
    display: none
    &__menu-item
      &:hover
        cursor: default
        &:after
          height: 1px
          transition: 0
  .header-mobile
    display: block
  .button
    color: #ffffff
    background-color: $button-color
    border: none
    &:hover
      background-color: lighten($button-color, 0)
      cursor: default
      transition: 0

  .main
    &__container
      padding:
        top: 70px
    &__title
      font-size: 36px
      max-width: 400px
    &__item-text
      width: 240px

  .var-maquette
    padding:
      top: 50px
      bottom: 0
    &__section-title
      margin-bottom: 50px
    &__subtitle
      margin-bottom: 40px
    &__img
      filter: grayscale(0)
      opacity: 1
      transition: 0
    &__item
      &:hover
        box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 1);
        transition: 0
        .var-maquette__button
          &:hover
            background-color: lighten($button-color, 0)
            cursor: default
            transition: 0

  .real-projects
    padding:
      top: 50px
      bottom: 150px
    &__section-title
      margin: 0 auto 40px
      &:after
        bottom: -18px
    &__subtitle
      margin: 0 auto 50px
    &__slider
      &-title
        text-align: center
      &-item 
        // height: 410px
        img
          float: none
          margin: 0 auto 40px
      &-descr
      &-descrBlock > &-descr:nth-child(2)
        margin: 0 auto 30px
        max-width: 310px     
      &-button
        left: 50%
        transform: translateX(-108px)
      &-data
        margin: 0 auto 100px
        max-width: 310px

  .arrow
    &:hover
      cursor: default
    &-right
      bottom: 0
      transform: translateY(76px)
      right: 40%
    &-left
      top: 100%
      transform: translateY(50px)
      left: 40%

  .achivments
    padding:
      top: 70px
    &__section-title
      margin-bottom: 60px
    &__item
      margin-bottom: 60px
      &-icon
        margin-bottom: 25px

@media (max-width: 860px)
  .achivments
    &__table
      margin: 0 auto
      max-width: 600px





@media (max-width: 842px)
  .var-maquette
    &__table
      flex-direction: column
      align-items: center
    &__item:last-child
      height: 540px

@media (max-width: 791px)
  .main
    &__container
      flex-direction: column
      align-items: center
      padding:
        top: 50px
        bottom: 70px
    margin-bottom: 40px
    &__title-block
      margin-bottom: 30px
    &__title, &__subtitle
      text-align: center
    &__subtitle
      margin-bottom: 40px
    &__list
      // width: 90%
    &__item
      justify-content: center
    // &__request
    //   box-shadow: 0 0 5px rgba(0,0,0,0.2);

  .var-maquette
    padding-top: 0

@media (max-width: 600px)
  .real-projects
    padding:
      top: 40px
      bottom: 100px


  

  .arrow
    &-right
      transform: translateY(56px)
    &-left
      transform: translateY(30px)


  .achivments
    padding:
      top: 50px
      bottom: 50px
    &__section-title
      font-size: 18px
    &__table
      flex-direction: column
      align-items: center
    &__item
      margin-bottom: 50px


@media (max-width: 480px)
  .main
    &__container
      padding-bottom: 0px
    &__title-block
      margin-bottom: 25px
    &__title
      font-size: 28px
    &__subtitle
      font-size: 19px
    &__item-text
      font-size: 14px
    &__request
      margin-top: 12px
      align-items: stretch
      margin-bottom: 50px
      // width: 100%
      // padding-bottom: 50px

  .var-maquette
    &__item
      width: 300px
    &__img
      width: 290px

  .real-projects
    &__slider
      &-item
        margin:
          left: 0
          right: 0
      &-descr
        text-align: center
      &-data
        flex-direction: column
      &-data > &-descr 
        margin-bottom: 30px
      &-data
        margin: 0 auto 70px

  
